AIVEN_URI=mysql://avnadmin:AVNS_dZawUIZYiFHwuHExxSg@megisha-real-estate-database-eoc-database.d.aivencloud.com:28030/defaultdb?ssl-mode=REQUIRED
DB_NAME=defaultdb
DB_HOST=megisha-real-estate-database-eoc-database.d.aivencloud.com
DB_PORT=28030
DB_USER=avnadmin
DB_PASSWORD=AVNS_dZawUIZYiFHwuHExxSg
SSL_MODE=required